body {
    font-family: "Helvetica Neue", Helvetica, Arial, Sans-serif;
    font-size: 100%;
    line-height: 1.7em;
    color: #000000;
}

h1 {
    color: #317c3a
    font-size: 3.75em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    color: #ff4ac2
    font-size: 1.25em;
}